<div class="container-contact2">
  <div class="wrap-contact2">
    <form class="contact2-form validate-form">
      <span class="contact2-form-title">
        Contattaci
      </span>

      <div class="wrap-input2 validate-input" data-validate="Nome richiesto is required">
        <input class="input2" type="text" name="name">
        <span class="focus-input2" data-placeholder="NOME"></span>
      </div>

      <div class="wrap-input2 validate-input alert-validate" data-validate="Una mail valida è richiesta: ex@abc.xyz">
        <input class="input2" type="text" name="email">
        <span class="focus-input2" data-placeholder="EMAIl"></span>
      </div>

      <div class="wrap-input2 validate-input alert-validate" data-validate="Message is required">
        <textarea class="input2" name="message"></textarea>
        <span class="focus-input2" data-placeholder="MESSAGGIO"></span>
      </div>

      <div class="container-contact2-form-btn">
        <div class="wrap-contact2-form-btn">
          <div class="contact2-form-bgbtn"></div>
          <button class="contact2-form-btn">
            Invia
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
