.highlighted {
  background: LightGray linear-gradient(to bottom, white, LightGray);
}

.loading-spinner-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ddd;
  opacity: 0.4;

  .spinner {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -25px;
    text-align: center;
  }
}
