
<div class="container-fluid">
  <div class="country-select">
    <mat-form-field>
      <mat-select placeholder="Seleziona un Paese" name="selected-country" [(ngModel)]="selectedCountry" (selectionChange)="manageCountrySelect($event.value)">
        <mat-option  *ngFor="let country of originalPaesi" [value]="country" >
          {{ country.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <app-country-filter class="country-filter" [countryList]="originalPaesi" (filterEvent)="manageFilterEvent($event)"></app-country-filter>

  <div class="content mat-elevation-z8" role="main" *ngIf="paesi && paesi.length !== 0">

    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="flag">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let paese" class="">
          <app-image-viewer [ngStyle]="{'cursor': 'pointer'}" [url]="paese.flag" (selectEvent)="manageCountrySelect(paese)"></app-image-viewer>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef  mat-sort-header="name"> Nome </mat-header-cell>
        <mat-cell *matCellDef="let paese"> {{paese.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="population" >
        <mat-header-cell *matHeaderCellDef mat-sort-header="population"> Popolazione </mat-header-cell>
        <mat-cell *matCellDef="let paese">  {{paese.population | number: '1.0-3':'it'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="capital">
        <mat-header-cell *matHeaderCellDef> Capitale </mat-header-cell>
        <mat-cell *matCellDef="let paese"> {{paese.capital}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="topLevelDomain">
        <mat-header-cell *matHeaderCellDef> Dominio root </mat-header-cell>
        <mat-cell *matCellDef="let paese"> {{paese.topLevelDomain}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="timezones">
        <mat-header-cell *matHeaderCellDef> Fusi orari </mat-header-cell>
        <mat-cell *matCellDef="let paese">
          <ul>
            <li *ngFor="let timezone of paese.timezones;">
              {{timezone}}
            </li>
          </ul>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>
</div>
<div class="loading-spinner-bg" *ngIf="originalPaesi ? originalPaesi.length === 0: true">
  <mat-spinner class="spinner"></mat-spinner>
</div>
